* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
  width: 100vw;
}

body {
  height: 100%;
  background-color: #242A40;
  display: flex;
  flex-direction: column;
}

header{
  height: 350px;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
}

.logo {
  width: 350px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('./images/logo.png');
  border: 0px solid transparent;
  margin-bottom: 30px;
}

.refrigeracao {
  width: 200px;
  height: 29px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('./images/refrigeracao.png');
  border: 0px solid transparent;
}



main{
  flex-grow: 1;
}

footer{
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  width: 100%;
  height: 250px;
  background-size: 100vw 100%;
  background-clip: content-box;
  background-repeat: no-repeat;
  background-image: url('./images/bg.png');
}

.zap {
  position: absolute;
  right: 50px;
  bottom: 20px;
  width: 250px;
  height: 105px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('./images/zap.png');
  border: 0px solid transparent;
}

@media only screen and (max-width: 600px) {
  .zap {
    right: 50%;
    margin-right: -125px;
  }
}